{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main.css'%}">
  </head>
  <body>
    <header>
      <div>
        <a href="{% url 'main'  %}">Головна</a>
        <a href="{% url 'catalog' %}">Каталог</a>
        <a href="{% url 'about_us' %}">Про нас</a>
        <a href="{% url 'support' %}">Зворотній зв'язок</a>
      </div>
    </header>
    {% block content %} {% endblock %}
  </body>
</html>
