{% extends "base.html" %}

{% block content %}
    <h1>Каталог</h1>
    <form id = "choice"method="POST" action = "{% url 'catalog' %}">
        {% csrf_token %}
        <select name = "categoryChange">
            <option value="Monitor">Монітор</option>
            <option value="Camera">Фотоаппарат</option>
            <option selected>Усі</option>
        </select>
        <button>Знайти</button>
    </form> 
    <div>
        {% for product in Product %}
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <img src="{{ product.image.url }}" alt="">
        <h2 id = "price"> {{ product.price }} ₴</h2>
        {% endfor %}
    </div>
{% endblock %}